1
15
ABELIAN ARRANGEMENTS
PUSHDOWN ARRANGEMENTS
HETEROGENEOUS HIERARCHY
LINK HIERARCHY
SUCCINCT MULTIPLICATION
LINK PROBLEMS
QUADRATIC PROBLEMS
COVER SHAPES
PUSHDOWN SHAPES
COVER SOLUTION
SOLUTION SOLUTION
QUADRATIC SPANNING
SUCCINCT SPANNING
ABELIAN SYNCHRONIZATION
HETEROGENEOUS SYNCHRONIZATION
